<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="com.heme.iptvlive.MainActivity"
            android:supportsPictureInPicture="true"
            tools:replace="android:supportsPictureInPicture" />
    </application>
</manifest>
